<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师密码修改</title>
    <link rel="icon" href="/static/images/logo.png" type="image/x-icon">
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-grip.css" rel="stylesheet">
</head>
<body>
<div style="padding-top:15vh;text-align:center;width: 100vw;">
    <img src="/static/images/ujs.png" style="width: 10vw;height: 10vw;margin-left: auto;margin-right: auto" >
</div>
<div class="container">
    <div class="col-md-4 offset-md-4">
        <form class='form-register' action="/t_cp/" method="post">
            {% csrf_token %}
            <h2 class="text-center">修改密码</h2>
            {% if message_p %}
                <div class="alert alert-warning">{{ message_p }}</div>
            {% endif %}
            <div class="form-group">
                {{ change_password_form.password1.label_tag }}
                {{ change_password_form.password1 }}
            </div>
            <div class="form-group">
                {{ change_password_form.password2.label_tag }}
                {{ change_password_form.password2 }}
            </div>
            <button type="reset" class="btn btn-default">重置</button>
            <button type="submit" class="btn btn-primary float-right">提交</button>
        </form>
    </div>
</div>
</body>
</html>